<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 3 | Grayson</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card> <img src="../../assets/images/grayson.jpg" />
    <ion-card-content>
      <ion-card-title>Grayson</ion-card-title>
      <p> Grayson was born May 6, 2019, in Seaside, CA. He was a feral kitten, but quickly adopted me. He remains a
        skilled hunter. When not hunting, Grayson loves to play with Alita.</p>
    </ion-card-content>
  </ion-card>

  <ion-button color="success" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/toc']">
    Table of Contents</ion-button>

  <ion-button color="success" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/chapter2']">
    Chapter 2 | Leila</ion-button>

  <ion-button color="success" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/chapter4']">
    Chapter 4 | Alita</ion-button>

</ion-content>