<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 5 | Naala</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card> <img src="../../assets/images/Naala.jpg" />
    <ion-card-content>
      <ion-card-title>Naala</ion-card-title>
      <p> Naala is the matriarch of our home. She was adopted at 6 months as a Christmas gift for my youngest
        son. Unbeknownst to us, he had been crying out for a very long time for a cat. Naala was proof that God hears
        our prayers and gives us the desires of our heart. </p>
    </ion-card-content>
  </ion-card>

  <ion-button color="success" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/toc']">
    Table of Contents</ion-button>

  <ion-button color="success" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/chapter4']">
    Chapter 4 | Alita</ion-button>

</ion-content>