<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 2 | Leila</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card> <img src="../../assets/images/Leila4.jpg" />
    <ion-card-content>
      <ion-card-title>Leila</ion-card-title>
      <p> Leila is a long-coat chihuahua. She was born February 22, 2014, outside of Shreveport, LA. She had a difficult
        start, but soon learned that she is loved. Leila loves to cuddle and insists on having attention.</p>
    </ion-card-content>
  </ion-card>


  <ion-button color="success" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/toc']">
    Table of Contents</ion-button>

  <ion-button color="success" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/chapter1']">
    Chapter 1 | Max</ion-button>

  <ion-button color="success" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/chapter3']">
    Chapter 3 | Grayson</ion-button>


</ion-content>