<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 4 | Alita</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-card> <img src="../../assets/images/Alita.jpg" />
    <ion-card-content>
      <ion-card-title>Alita</ion-card-title>
      <p>Alita is my domestic short hair. She was born May 6, 2019 outside of Salinas, CA. Alita was rescued from the
        engine compartment of a fire truck! Four firemen escorted her into my vet's office when she was about six weeks
        old. She was meant to be mine. Alita is the most affectionate cat; she loves to cuddle and insists on sleeping
        on my chest every night.</p>
    </ion-card-content>
  </ion-card>


  <ion-button color="success" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/toc']">
    Table of Contents</ion-button>

  <ion-button color="success" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/chapter3']">
    Chapter 3 | Grayson</ion-button>

  <ion-button color="success" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/chapter5']">
    Chapter 5 | Naala</ion-button>


</ion-content>