<ion-header>
  <ion-toolbar>
    <ion-title>Chapter 1 | Max</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card> <img src="../../assets/images/max2.jpg" />
    <ion-card-content>
      <ion-card-title>Maximus</ion-card-title>
      <p> Max is a long-coat chihuahua. He was born July 8, 2016, outside of Atlanta, GA. He has been my best pup from
        the start.<br> Max's name is prophetic, for he is Maximum Joy, Maximum volume, and Maximum play. </p>
    </ion-card-content>
  </ion-card>

  <ion-button color="success" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/toc']">
    Table of Contents</ion-button>

  <ion-button color="success" shape="round" fill="outline" [routerDirection]="'root'" [routerLink]="['/chapter2']">
    Chapter 2 | Leila</ion-button>

</ion-content>